.bar {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
    border-color: grey;
    border: solid;
    border-radius: 5px;


}

/* For a single item within the menu bar */
.item {

    color: white;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    border-left: 1%;
    border-right: 1%;
    border-color: grey;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:hover {
    background-color: grey;
    color: white;
}

.headerLink:visited {
    color: inherit;
}


.headerAnchor {
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    /* width: 25%; */
    /* height: 25%; */
    color: black;
    margin: 10px;
}