/* Manages the style for the header bar at the top. */

.bar {
    background-color: rgb(240 240 235);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;


    /* border-color: grey; */
    /* border: solid; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* For a single item within the menu bar */
.item {
    color: black;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    border-left: 1%;
    border-right: 1%;
    /* border-color: rgb(87, 87, 87); */

    /* border: solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.item:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.headerLink:visited {
    color: inherit;
}


.headerAnchor {
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    /* width: 25%; */
    /* height: 25%; */
    color: black;
    /* margin: 10px; */
}