/* Basic page set up */

.bodycolor {
    background-color: black;
}

.content {
    background-color: black;

}

.subtitle {
    text-align: center;
}

.info {
    background-color: rgb(240 240 235);
    margin: 5vw;
    margin-bottom: 0vw;
    margin-top: 0vw;

    border-style: solid;
    border-width: 0px;
    border-color: rgb(193, 193, 193);
    border-radius: 5px;


}

/* For the DNA report */
.pdfHolder {
    height: 90vh;
    width: 100%;
    border: none;
}

.mainPhoto {
    /* height: 100vh; */
    width: 25vw;
    align-self: center;
    justify-content: center;
    border-radius: 5px;

    display: block;
    margin: auto;
}

.bookPhoto {
    /* height: 100vh; */
    /* width: 10vw; */
    align-self: center;
    justify-content: center;

    display: block;
    margin: auto;
}

.title {
    text-align: center;
}

/* For any blocks of text */
.paragraph {
    padding-left: 2%;
    margin: 0%;
}

.subParagraph {
    padding-left: 4%;
}

.itemList {
    padding-left: 4%;
}


/* For displaying the dogs */
.dogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dogItem {
    background-color: rgb(255, 255, 255);
    /* border-style: solid; */
    border-radius: 10px;
    border-color: black;
    /* height: 25%; */
    /* width: 25%; */
    margin: 10px;
    /* box-shadow: 4px 10px; */
    /* display: block; */
    /* margin: auto; */

}

.dogItem:hover {
    box-shadow: 0px 0px;
}

.dogImage {
    width: 95%;
    height: 75%;
    margin: auto;
    display: block;
    border-radius: 5px;
}

.dogAnchor {
    text-decoration: none;
    display: block;
    width: 25%;
    height: 25%;
    color: black;
    margin: 10px;
}