/* Basic page set up */
:root {
    --bg: rgb(18, 18, 18);
    --foreground: rgb(232, 228, 225);
    --altforeground: rgb(245, 241, 237);
    --item: white;
}


.bodycolor {
    background-color: var(--bg);
}

.content {
    background-color: var(--bg);

}

.altbg {
    background-color: var(--altforeground);
    padding-top: 2%;
    padding-bottom: 2%;
}

.bg {
    background-color: var(--foreground);
}

.introCard {
    padding-top: 10px;
}

.companyTitle {
    font-size: 48pt;
    text-align: center;
    /*text-decoration: underline;*/
}

.subtitle {
    text-align: center;
}

.info {
    background-color: var(--foreground);
    margin: 5vw;
    margin-bottom: 0vw;
    margin-top: 0vw;

    border-style: solid;
    border-width: 0px;
    border-color: rgb(193, 193, 193);
    border-radius: 5px;
    /*padding-bottom: 1cm;*/


}

/* For the DNA report */
.pdfHolder {
    height: 90vh;
    width: 100%;
    border: none;
}

/* Photos */
.mainPhoto {
    /* height: 100vh; */
    width: 25vw;
    align-self: center;
    justify-content: center;
    border-radius: 5px;

    display: block;
    margin: auto;
}

.bookPhoto {
    /* height: 100vh; */
    /* width: 10vw; */
    align-self: center;
    justify-content: center;

    display: block;
    margin: auto;
}

.title {
    text-align: center;
}

/* For any blocks of text */
.paragraph {
    padding-left: 2%;
    /* margin: 2%; */
}

.subParagraph {
    padding-left: 4%;
}

.paragraphUnderPhoto {
    margin: 2%;

}

.itemList {
    padding-left: 4%;
}


/* For displaying the dogs */
.dogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.dogItem {
    background-color: var(--item);
    /* border-style: solid; */
    border-radius: 10px;
    border-color: var(--bg);
    /* height: 25%; */
    /* width: 25%; */
    margin: 10px;
    padding-bottom: 1%;
    padding-top: 1%;


    /* box-shadow: 4px 10px; */
    /* display: block; */
    /* margin: auto; */

}

.dogItem:hover {
    box-shadow: 0px 0px;
}

.dogImage {
    width: 95%;
    height: 75%;
    margin: auto;
    display: block;
    border-radius: 5px;
}

.dogAnchor {
    text-decoration: none;
    display: block;
    width: 25%;
    height: 25%;
    color: black;
    margin: 10px;
    align-self: center;
}

/* Input form */
.inputForm {
    margin: 2%;
    background-color: var(--item);
    border-radius: 10px;
}

.innerForm {
    margin-left: 4%;
}

.links {
    text-align: center;
    display: block;
    margin: auto;
}



.puppyGallery {
    /* margin: 5%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}


.puppyGalleryItem {
    margin: 1%;
    /* width: 30%; */
    background-color: var(--altbg);
    height: 25vh;
    /* background-color: var(--item); */
    border-radius: 5px;
    margin-top: 2%;
    /* margin-bottom: 2%; */


    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}


.puppyGalleryPhoto {
    /* width: 30%; */
    height: 24vh;
    background-color: var(--item);
    border-radius: 5px;
    /* margin: 2%; */
    /* margin-bottom: 2%; */


    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.puppiesLink {
    display: block;
    margin: auto;
    text-align: center;
}