<!DOCTYPE html>

<head>

    {% include 'headValues.html' %}
    <link rel="stylesheet" href="/static/form.css">
    <title>Admin Pannel</title>
</head>

<body class="bodycolor">
    <!-- Top of page -->

    <!-- End Top of page -->
    <div class="content">
        <!-- I'm thinking we put the main picture here. -->
        {% include 'header.html' %}

        <!-- Content -->
        <div id="home" class="info">
            <h1 class="title">Welcome to your dashboard</h1>

            <!-- Enter a new dog -->
            <div class="inputForm">
                <h1 class="subtitle">Enter a new dog</h1>
                <form action="/admin/newDog" method="post" enctype="multipart/form-data" class="formContainer">
                    <div class="innerForm">
                        <h2>Name</h2>
                        <input type="text" placeholder="Name" name="Name" required><br>
                        <!-- Gender -->
                        <h2>Gender</h2>
                        <input type="radio" name="gender" value="Female" id="Female" required> <label
                            for="Female">Female</label><br>
                        <input type="radio" name="gender" value="Male" id="Male" required> <label
                            for="Male">Male</label><br>

                        <!-- Available -->
                        <h2>Should they be visible to users</h2>
                        <input type="radio" id="avail" name="avail" value="true"> <label for="true">Yes</label><br>
                        <input type="radio" id="avail" name="avail" value="false"> <label for="false">No</label><br>

                        <!-- Reg -->
                        <h2>Are they registered with AKC</h2>
                        <input type="radio" name="reg" value="True" id="AKC" required> <label for="AKC">Yes</label><br>
                        <input type="radio" name="reg" value="False" id="AATR" required> <label
                            for="AATR">No</label><br>

                        <h2>Date of Birth</h2>
                        <input type="date" name="dob" required><br>

                        <h2>Upload photos of dog</h2>
                        <input type="file" name="files[]" required multiple class="formItem">

                        <h2>Descripton of dog</h2>
                        <textarea name="desc" id="desc" required class="formDesc"></textarea><br>

                        <input type="submit" value="Submit" class="searchSubmit">
                    </div>
                </form>
            </div>

            <div class="inputForm">
                <form action="/admin/newPuppy" method="post" enctype="multipart/form-data" class="formContainer">
                    <div class="innerForm">
                        <h1>Submit Puppy Pictures or Videos</h1>
                        <input type="file" name="files[]" required multiple class="formItem">
                        <input type="submit" value="Submit" class="searchSubmit">
                    </div>
                </form>

            </div>

            <!-- Modify a current dog -->
            <!-- Other actions -->
            <div class="links">
                <h3>User Options</h3>
                <a href="/admin/dogs">Modify an existing dog</a><br>
                <a href="/admin/settings">Account Settings</a><br>
                <a href="/admin/puppyPhotos">Manage Puppy Photos</a><br>
                <a href="/logout">Logout</a>
            </div>

        </div>
        <!-- End Content -->
    </div>


</body>