<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/static/head.css">
    <link rel="stylesheet" href="/static/content.css">
    <link rel="stylesheet" href="/static/mainpage.css">

</head>

<body class="bodycolor">
    <!-- Top of page -->

    <!-- End Top of page -->
    <div class="content">
        <!-- I'm thinking we put the main picture here. -->
        {% include 'header.html' %}

        <!-- Content -->
        <div id="home" class="info">
            <h1 class="title">Welcome to your dashboard</h1>

            <!-- Enter a new dog -->
            <div class="inputForm">
                <h1 class="subtitle">Enter a new dog</h1>
                <form action="/admin/newDog" method="post" enctype="multipart/form-data">
                    <div class="innerForm">
                        <h3>Name</h3>
                        <input type="text" placeholder="Name" name="Name" required><br>
                        <!-- Gender -->
                        <h3>Gender</h3>
                        <input type="radio" name="gender" value="Female" id="Female" required> <label
                            for="Female">Female</label><br>
                        <input type="radio" name="gender" value="Male" id="Male" required> <label
                            for="Male">Male</label><br>

                        <!-- Available -->
                        <h3>Are they available</h3>
                        <input type="radio" id="avail" name="avail" value="true"> Yes<br>
                        <input type="radio" id="avail" name="avail" value="false"> No<br>

                        <!-- Reg -->
                        <h3>Organization of registration</h3>
                        <input type="radio" name="reg" value="AKC" id="AKC" required> <label for="AKC">AKC</label><br>
                        <input type="radio" name="reg" value="AATR" id="AATR" required> <label
                            for="AATR">AATR</label><br>
                        <input type="radio" name="reg" value="None" id="None" required> <label
                            for="None">None</label><br>

                        <h3>Date of Birth</h3>
                        <input type="date" name="dob" required><br>

                        <h3>Upload photos of dog</h3>
                        <input type="file" name="Photos[]" required multiple>

                        <h3>Descripton of dog</h3>
                        <textarea name="desc" id="desc" required></textarea><br>

                        <input type="submit" value="submit">
                    </div>
                </form>
            </div>

            <!-- Modify a current dog -->
            <!-- Other actions -->
            <p class="paragraph">
                <a href="/logout">logout</a><br>
                <a href="/admin/modify">Modify an existing dog</a>
            </p>

        </div>
        <!-- End Content -->
    </div>


</body>