<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/static/head.css">
    <link rel="stylesheet" href="/static/content.css">
    <link rel="stylesheet" href="/static/mainpage.css">

</head>

<body class="bodycolor">
    <!-- Top of page -->

    <!-- End Top of page -->
    <div class="content">
        <!-- I'm thinking we put the main picture here. -->
        {% include 'header.html' %}

        <!-- Content -->
        <div id="home" class="info">
            <h1 class="title">Update {{name}}'s information</h1>

            <!-- Enter a new dog -->
            <div class="inputForm">
                <h1 class="subtitle"></h1>
                <form action="/admin/update/{{id}}" method="post" enctype="multipart/form-data">
                    <div class="innerForm">
                        <h1 class="title">Update information</h1>
                        <h3>Name</h3>
                        <input type="text" value="{{name}}" name="Name" required><br>
                        <!-- Gender -->
                        <h3>Gender</h3>
                        <input type="radio" name="gender" value="Female" id="Female" required {% if gender is false%}
                            checked {% endif %}> <label for="Female">Female</label><br>
                        <input type="radio" name="gender" value="Male" id="Male" required {% if gender%} checked {%
                            endif %}> <label for="Male">Male</label><br>

                        <!-- Available -->
                        <h3>Are they available</h3>
                        <input type="radio" id="avail" name="avail" value="true" {% if avail%} checked {% endif %}>
                        <label for="true">Yes</label><br>
                        <input type="radio" id="avail" name="avail" value="false" {% if avail is false%} checked {%
                            endif %}>
                        <label for="false">No</label><br>

                        <!-- Reg -->
                        <h3>Organization of registration</h3>
                        <input type="radio" name="reg" value="AKC" id="AKC" required {%if org=="AKC" %} checked
                            {%endif%}> <label for="AKC">AKC</label><br>
                        <input type="radio" name="reg" value="AATR" id="AATR" required {%if org=="AATR" %} checked
                            {%endif%}> <label for="AATR">AATR</label><br>
                        <input type="radio" name="reg" value="None" id="None" required {%if org=="None" %} checked
                            {%endif%}> <label for="None">None</label><br>

                        <h3>Date of Birth</h3>
                        <input type="date" name="dob" value={{dob}} required><br>

                        <h3>Add new photos of {{name}}</h3>
                        <input type="file" name="files[]" multiple>

                        <h3>Descripton of dog</h3>
                        <textarea name="desc" id="desc" value="{{desc}}"></textarea><br>

                        <input type="submit" value="Update">
                    </div>
                </form>

                <h3>Modify {{name}}'s photos</h3>
            </div>


        </div>
        <!-- End Content -->
    </div>


</body>