<!DOCTYPE html>

<head>

    {% include 'headValues.html' %}
    <link rel="stylesheet" href="/static/form.css">

    <script>
        function setPhotoForm(action, id) {
            let form = document.getElementById("photo-form-" + id)
            console.log(action)
            console.log("photo-form-" + id)
            if (action === 'delete') {
                form.action = "{{url_for('deletePhoto')}}"
                form.method = 'post'
                form.submit()
            } else if (action === 'setMainPhoto') {
                form.action = "{{url_for('setMainPhoto')}}"
                form.method = 'post'
                form.submit()
            }
        }
    </script>

    <title>Modify {{name}}</title>
</head>

<body class="bodycolor">
    <!-- Top of page -->

    <!-- End Top of page -->
    <div class="content">
        <!-- I'm thinking we put the main picture here. -->
        {% include 'header.html' %}

        <!-- Content -->
        <div id="home" class="info">
            <h1 class="title">Update {{ name }}'s information</h1>

            <img src="/static/dogPhotos/{{mainPhoto}}" class="mainPhoto">

            <!-- Enter a new dog -->
            <div class="inputForm">
                <h1 class="subtitle"></h1>
                <form action="/admin/update/{{id}}" method="post" enctype="multipart/form-data" class="formContainer">
                    <div class="innerForm">
                        <h1 class="title">Update information</h1>

                        <h1>Name</h1>
                        <!-- REQUIRED -->
                        <input type="text" value="{{name}}" name="Name" required><br>
                        <!-- Gender REQUIRED-->
                        <h1>Gender</h1>
                        <input type="radio" name="gender" value="Female" id="Female" required {% if not gender %}
                            checked {% endif %}> <label for="Female">Female</label><br>
                        <input type="radio" name="gender" value="Male" id="Male" required {% if gender %} checked {%
                            endif %}> <label for="Male">Male</label><br>

                        <!-- Available REQUIRED -->
                        <h1>Are they available</h1>
                        <input type="radio" id="true" name="avail" value="true" {% if avail %} checked {% endif %}>
                        <label for="true">Yes</label><br>
                        <input type="radio" id="false" name="avail" value="false" {% if not avail %} checked {% endif
                            %}>
                        <label for="false">No</label><br>

                        <!-- Reg REQUIRED -->
                        <h1>Organization of registration</h1>
                        <input type="radio" name="reg" value="AKC" id="AKC" required {%if org=="AKC" %} checked {% endif
                            %}> <label for="AKC">AKC</label><br>
                        <input type="radio" name="reg" value="AATR" id="AATR" required {%if org=="AATR" %} checked {%
                            endif %}> <label for="AATR">AATR</label><br>
                        <input type="radio" name="reg" value="None" id="None" required {%if org=="None" %} checked {%
                            endif %}> <label for="None">None</label><br>

                        <!-- REQUIRED -->
                        <h1>Date of Birth</h1>
                        <input type="date" name="dob" value={{ dob }} required><br>

                        <h1>Add new photos of {{ name }}</h1>
                        <input type="file" name="files[]" multiple>

                        <h1>Descripton of dog</h1>
                        <textarea name="desc" id="desc" class="formDesc">{{desc}}</textarea><br>

                        <input type="hidden" value="{{id}}" name="dogID">

                        <input type="submit" value="Update" class="searchSubmit">
                    </div>
                </form>



            </div>
            <h2 class="subtitle">Modify {{ name }}'s photos</h2>
            <div class="galleryContainer">
                {% for pic in pics %}
                <div class="galleryItem">
                    <img src="/static/dogPhotos/{{pic[2]}}" class="galleryPhoto">
                    <form id="photo-form-{{pic[0]}}" action="POST">
                        <input type="hidden" value="{{pic[2]}}" name="photoName">
                        <input type="hidden" value="{{pic[0]}}" name="photoID">
                        <input type="hidden" value="{{id}}" name="dogID">
                        <!-- Inputs -->
                        <input type="button" value="Delete Photo" onclick="setPhotoForm('delete', {{pic[0]}})"
                            class="galleryButton"><br>
                        <input type="button" value="Set Primary" onclick="setPhotoForm('setMainPhoto', {{pic[0]}})"
                            class="galleryButton">
                    </form>
                </div>
                {% endfor %}
            </div>

        </div>
        <!-- End Content -->
    </div>



</body>