<!DOCTYPE html>

<head>
    {% include 'headValues.html' %}
    <link rel="stylesheet" href="/static/dog.css">
    <title> {{name}} </title>
</head>

<body>

    <div class="content">
        {% include 'header.html' %}
        <br>
        <div class="info">
            <!-- Top of page -->


            <!-- Dog info container -->
            <div class="dogInfoContainer">
                <div class="dogTitle">
                    <h1 class="dogTitleItem">{{name}} - AATR {% if org %} and AKC {% endif %}</h1>

                    <img src="/static/dogPhotos/{{mainPhoto}}" class="mainDogPhoto" loading="lazy"
                        alt="Main Photo of Dog">
                    <h3 class="dogTitleItem">Gender: {{gender}}</h3>

                    <h3 class="dogTitleItem">Birth Day: {{dob}}</h3>
                </div>
                {% if desc != "nan" %}
                <p class="desc">
                    {{desc}}
                </p>
                {% endif %}
                {% if photos != [] %}
                <h2 class="subtitle">Gallery</h2>
                <div class="gallery">
                    {% for photo in photos %}
                    <div class="galleryItem">
                        <img src="/static/dogPhotos/{{photo[0]}}" loading="lazy" class="galleryPhoto">
                    </div>
                    {% endfor %}

                </div>
                {% endif %}
            </div>
        </div>
    </div>

</body>