<div class="bar">
    <div class="item">
        <a href="/home" class="headerlink">Logo</a>
        <!-- Logo -->
    </div>
    <div class="item">
        <a href="/home" class="headerlink">Home</a>
        <!-- Home -->
    </div>
    <div class="item">
        <a href="/dogs" class="headerlink">Dogs</a>
        <!-- Dogs -->
        <div>
            <!-- On hover this will show a dropdown menua -->
            <!-- Male -->
            <!-- Female -->
        </div>
    </div>
    <div class="item">
        <a href="/health_gaurantee" class="headerlink">Health Gaurantee</a>
        <!-- Gaurantee -->
    </div>
    <div class="item">
        <a href="/about" class="headerlink">About us</a>
        <!-- About -->
    </div>
    <div class="item">
        <a href="/contact" class="headerlink">Contact Us</a>
        <!-- Contact us -->
    </div>
</div>