<div class="bar">
    <a class="headerAnchor" href="/">
        <div class="item">
            Home
        </div>
    </a>
    <a href="/myPartner" class="headerAnchor">
        <div class="item">
            My Partner
            <!-- Dogs -->
            <div>
                <!-- On hover this will show a dropdown menua -->
                <!-- Male -->
                <!-- Female -->
            </div>
        </div>
    </a>
    <a href="/puppies" class="headerAnchor">
        <div class="item">
            Puppies
            <!-- Gaurantee -->
        </div>
    </a>
    <a class="headerAnchor" href="/blackAiredale">
        <div class="item">
            The Black Airedale
            <!-- Contact us -->
        </div>
    </a>
    <a href="/login" class="headerAnchor">
        <div class="item">
            Admin Dashboard
            <!-- About -->
        </div>
    </a>
</div>