<div class="bar">
    <a class="headerAnchor" href="/">
        <div class="item">
            Home
        </div>
    </a>
    <a href="/#dogs" class="headerAnchor">
        <div class="item">
            Dogs
            <!-- Dogs -->
            <div>
                <!-- On hover this will show a dropdown menua -->
                <!-- Male -->
                <!-- Female -->
            </div>
        </div>
    </a>
    <a href="/#health_gaurantee" class="headerAnchor">
        <div class="item">
            Health Gaurantee
            <!-- Gaurantee -->
        </div>
    </a>
    <a class="headerAnchor" href="/#contact">
        <div class="item">
            Contact Us
            <!-- Contact us -->
        </div>
    </a>
    <a href="/login" class="headerAnchor">
        <div class="item">
            Admin Dashboard
            <!-- About -->
        </div>
    </a>
</div>