<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="static/head.css">
    <link rel="stylesheet" href="static/content.css">
</head>

<body>
    <!-- Top of page -->
    {% include 'header.html' %}
    <!-- End Top of page -->

    <!-- I'm thinking we put the main picture here. -->
    <img src="static/MainPic.jpg">
    <!-- Content -->
    <div>
        <h1>The Kennel of Southern Roc Airedales</h1>
        <p>
            In 1984 Frank Drach first opened Southern Roc in Pheonix Airzona. We took our time finding just the right
            just the right stock to go with and on the following pages you will see all that we have done in the last 40
            something years.
        </p>
    </div>
    <!-- End Content -->



</body>