<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="static/head.css">

</head>

<body>
    <!-- Top of page -->
    <div>
        <div class="item">
            <a>Logo</a>
            <!-- Logo -->
        </div>
        <div class="item">
            <a>Home</a>
            <!-- Home -->
        </div>
        <div class="item">
            <a>Dogs</a>
            <!-- Dogs -->
            <div>
                <!-- On hover this will show a dropdown menua -->
                <!-- Male -->
                <!-- Female -->
            </div>
        </div>
        <div class="item">
            <a>Health Gaurantee</a>
            <!-- Gaurantee -->
        </div>
        <div class="item">
            <a>About us</a>
            <!-- About -->
        </div>
        <div class="item">
            <a>Contact</a>
            <!-- Contact us -->
        </div>
    </div>
    <!-- End Top of page -->




    <!-- Bottom -->
    <div></div>
</body>