<!DOCTYPE html>

<head>


</head>

<body>
    <!-- Top of page -->
    <div>
        <div>
            <!-- Logo -->
        </div>
        <div>
            <!-- Home -->
        </div>
        <div>
            <!-- Dogs -->
            <div>
                <!-- On hover this will show a dropdown menua -->
                <!-- Male -->
                <!-- Female -->
            </div>
        </div>
        <div>
            <!-- Gaurantee -->
        </div>
        <div>
            <!-- About -->
        </div>
        <div>
            <!-- Contact us -->
        </div>
    </div>
    <!-- End Top of page -->




    <!-- Bottom -->
    <div></div>
</body>