<!DOCTYPE html>

<head>

    {% include 'headValues.html' %}
    <title>Dog does not exist</title>
    <link rel="stylesheet" href="/static/form.css">
</head>

<body class="bodycolor">
    <!-- Top of page -->

    <!-- End Top of page -->
    <div class="content">
        <!-- I'm thinking we put the main picture here. -->
        {% include 'header.html' %}
        <br>
        <!-- Content -->
        <div id="home" class="info">

            <div class="altbg">
                <h1 class="subtitle">My Partner: Jaun Carlos Loberia</h1>
                <div class="puppyGallery">
                    <img src="/static/jauncarlos2.jpg" loading="lazy" class="jaunCarlosPhoto">
                    <img src="/static/jauncarlos1.jpg" loading="lazy" class="jaunCarlosPhoto">
                </div>

                <p class="paragraph">

                </p>
            </div>
        </div>
    </div>
    <!-- End Content -->
    </div>


</body>