<!DOCTYPE html>

<head>

    {% include 'headValues.html' %}
    <title>Dog does not exist</title>
    <link rel="stylesheet" href="/static/form.css">
</head>

<body class="bodycolor">
    <!-- Top of page -->

    <!-- End Top of page -->
    <div class="content">
        <!-- I'm thinking we put the main picture here. -->
        {% include 'header.html' %}

        <!-- Content -->
        <div id="home" class="info">

            <h1 class="title">Sorry but this dog does not exist.</h1>

        </div>
    </div>
    <!-- End Content -->
    </div>


</body>