<!DOCTYPE html>

<head>

    {% include 'headValues.html' %}

    <link rel="stylesheet" href="/static/form.css">
    <title>Account Settings</title>
</head>

<body class="bodycolor">
    <!-- Top of page -->

    <!-- End Top of page -->
    <div class="content">
        <!-- I'm thinking we put the main picture here. -->
        {% include 'header.html' %}

        <!-- Content -->
        <div id="home" class="info">

            {{error}}

            <h1 class="title">User Settings</h1>
            <div>
                <div class="multiFormContainer">
                    <h2 class="subtitle">Reset your password</h2>
                    <form action="{{url_for('passwordReset')}}" method="POST" class="loginContainer">
                        <input type="password" name="password" class="loginItem" placeholder="Verify Password"><br>
                        <input type="password" name="second" class="loginItem" placeholder="Verify"><br>
                        <input type="submit" class="loginSubmit">
                    </form>
                </div>

                <div>
                    <h2 class="subtitle">Create a new account</h2>
                    <form action="{{url_for('register')}}" method="POST" class="loginContainer">
                        <input type="text" name="username" class="loginItem" placeholder="Username"><br>
                        <input type="password" name="password" class="loginItem" placeholder="Password"><br>
                        <input type="password" name="second" class="loginItem" placeholder="Verify Password"><br>
                        <input type="submit" class="loginSubmit">
                    </form>
                </div>
            </div>
        </div>
        <!-- End Content -->
    </div>


</body>