<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="/static/head.css">
    <link rel="stylesheet" href="/static/content.css">
    <link rel="stylesheet" href="/static/mainpage.css">

</head>

<body class="bodycolor">
    <!-- Top of page -->

    <!-- End Top of page -->
    <div class="content">
        <!-- I'm thinking we put the main picture here. -->
        {% include 'header.html' %}

        <!-- Content -->
        <div id="home" class="info">
            <h1 class="title">User Settings</h1>

            <form>
                <input type="submit" value="Reset Web Key">
            </form>
        </div>
        <!-- End Content -->
    </div>


</body>